body {
  margin: 0;
  font-family: Questrial, sans-serif !important;
  position: relative;
  background-position: top right;
  background-size: 80vh;
  background-repeat: no-repeat;
  background-image: url("/images/bg.jpg");
  background-attachment: fixed;
}

.box-shadow-blur {
  box-shadow:0 0 10px 2px #822132;
  position: relative;
}

.box-shadow-blur::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: white;
  opacity: 0.7;
  left: 0;
  top: 0;
}

.font-size-12 {
  font-size: 12px;
}
